<%= render "layouts/header" %>
<!-- ===============//header sección final \\================= -->


<!-- ===============// ayuda sección inicio \\================= -->
<section class="help-search padding-top pb-5">
  <div class="container">
    <div class="help-search-wrapper text-center">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="help-search-content mb-4">
            <h2>How Can We Help You?</h2>
          </div>
          <div class="search-bar input-group mb-3">
            <input type="text" class="form-control" placeholder="Search our help center"
                   aria-label="Search our help center" aria-describedby="help-search">
            <button class="btn btn-outline-secondary" type="button" id="help-search"><i
              class="icofont-search-1"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ===============//Busqueda sección final \\================= -->



<!-- ==========sección inicio========== -->
<section class="fra-section padding-top padding-bottom">
  <div class="container">
    <div class="section-header justify-content-center">
      <div class="text-center">
        <h3>Frequently Read Articles</h3>
      </div>
    </div>
    <div class="section-wrapper">
      <div class="row g-3">
        <div class="col-lg-4 col-sm-6">
          <a href="help-single.html" class="help-item">
            ¿How to create an account?
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a href="help-single.html" class="help-item">
            ¿What is NFT (Non-Fungible Token)?
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a href="help-single.html" class="help-item">
            ¿What is Blockchain and how does it work?
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a href="help-single.html" class="help-item">
            ¿How do Auctions work for your NFT Hub?
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a href="help-single.html" class="help-item">
            ¿How to buy an NFT?
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a href="help-single.html" class="help-item">
            ¿How to sell my NFT?
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ==========sección ends Here========== -->


<!-- ==========sección inicio========== -->
<section class="help-section padding-bottom">
  <div class="container">
    <div class="section-header justify-content-center mb-70">
      <div class="text-center">
        <h3>Frequently Questions By Category</h3>
      </div>
    </div>
    <div class="section-wrapper">
      <div class="row justify-content-center gy-5 gx-4">
        <div class="col-lg-4 col-md-6">
          <a href="help-single.html" class="help-item style-2">
            <span>NFTs</span>
            How can I mint my artwork & Turn into a NFT?
          </a>
        </div>
        <div class="col-lg-4 col-md-6">
          <a href="help-single.html" class="help-item style-2">
            <span>DeFi</span>
            Learn all about DeFi (Decentralized Finance)
          </a>
        </div>
        <div class="col-lg-4 col-md-6">
          <a href="help-single.html" class="help-item style-2">
            <span>Blockchain</span>
            Let's learn Blockchain Technology from scratch
          </a>
        </div>
        <div class="col-lg-4 col-md-6">
          <a href="help-single.html" class="help-item style-2">
            <span>Creator Guide</span>
            FAQs related to becoming a Creator on Ava One
          </a>
        </div>
        <div class="col-lg-4 col-md-6">
          <a href="help-single.html" class="help-item style-2">
            <span>Collector Guide</span>
            FAQs related to becoming a Collector on Ava One
          </a>
        </div>
        <div class="col-lg-4 col-md-6">
          <a href="help-single.html" class="help-item style-2">
            <span>Copyright</span>
            Frequently asked question related to Copyright
          </a>
        </div>
        <div class="col-lg-4 col-md-6">
          <a href="help-single.html" class="help-item style-2">
            <span>Support</span>
            How can I get Support From Ava One Marketplace? </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ==========sección final========== -->


<!-- ==========sección inicio========== -->
<div class="cant-find padding-bottom padding-top">
  <div class="container">
    <div class="cant-find-content text-center">
      <h3 class="mb-3">Not finding what you are looking for?</h3>
      <p>Chat with us or send us an email.</p>
      <ul class="mt-4 d-flex flex-wrap justify-content-center align-items-center">
        <li><a href="#"><span><i class="icofont-ui-messaging"></i></span> Chat With Us</a></li>
        <li><a href="#"><span><i class="icofont-envelope"></i></span> Email Us</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- ==========sección final========== -->

<%= render "layouts/footer" %>
