<%= render "layouts/header" %>



<%= render "layouts/page_header" %>
<!-- ==========principal sección final========== -->


<!-- ==========explorar sección inicio========== -->
<section class="explore-section padding-top padding-bottom">
  <div class="container">
    <div class="section-header">
      <div class="nft-filter d-flex flex-wrap justify-content-center gap-15">
        <div class="form-floating">
          <select class="form-select" id="catSelect" aria-label="Floating label select example">
            <option selected>By Rating</option>
            <option value="1">By views</option>
            <option value="2">By Popularity</option>
            <option value="3">New Author</option>
            <option value="3">Top Seller</option>
          </select>
          <label for="catSelect">Filter</label>
        </div>
        <div class="form-floating">
          <select class="form-select" id="sortSelect" aria-label="Floating label select example">
            <option selected>All Authors</option>
            <option value="1">Varified</option>
            <option value="2">Unvarified</option>
            <option value="3">Recenly joined</option>
            <option value="3">Seller</option>
            <option value="3">Collector </option>
          </select>
          <label for="sortSelect">Author Type</label>
        </div>
      </div>
      <div class="nft-search">
        <div class="form-floating nft-search-input">
          <input type="text" class="form-control" id="nftSearch" placeholder="Search Author">
          <label for="nftSearch">Search Author</label>
          <button type="button"> <i class="icofont-search-1"></i></button>
        </div>
      </div>
    </div>
    <div class="section-wrapper">
      <div class="explore-wrapper">
        <div class="row justify-content-center g-4">
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="nft-item style-2">
              <div class="nft-inner">
                <div class="nft-thumb">
                  <img loading="lazy" src="assets/images/nft-item/style-2/01.jpg" alt="nft-img">
                </div>
                <div class="nft-content">
                  <div class="author-thumb">
                    <a href="author.html" class="veryfied"><img loading="lazy"
                                                                src="assets/images/seller/collector-1.png" alt="author-img"></a>
                  </div>
                  <div class="author-details">
                    <h5><a href="author.html">Gihan Fernindo</a> </h5>
                    <p class="nft-price yellow-color">$23,002.98</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="nft-item style-2">
              <div class="nft-inner">
                <div class="nft-thumb">
                  <img loading="lazy" src="assets/images/nft-item/style-2/02.jpg" alt="nft-img">
                </div>
                <div class="nft-content">
                  <div class="author-thumb">
                    <a href="author.html" class="veryfied"><img loading="lazy"
                                                                src="assets/images/seller/collector-2.gif" alt="author-img"></a>
                  </div>
                  <div class="author-details">
                    <h5><a href="author.html">X31le eko Fernindo</a> </h5>
                    <p class="nft-price yellow-color">$23,002.98</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="nft-item style-2">
              <div class="nft-inner">
                <div class="nft-thumb">
                  <img loading="lazy" src="assets/images/nft-item/style-2/03.jpg" alt="nft-img">
                </div>
                <div class="nft-content">
                  <div class="author-thumb">
                    <a href="author.html" class="veryfied"><img loading="lazy"
                                                                src="assets/images/seller/collector-2.png" alt="author-img"></a>
                  </div>
                  <div class="author-details">
                    <h5><a href="author.html">Jhon Doe </a> </h5>
                    <p class="nft-price yellow-color">$23,002.98</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="nft-item style-2">
              <div class="nft-inner">
                <div class="nft-thumb">
                  <img loading="lazy" src="assets/images/nft-item/style-2/04.jpg" alt="nft-img">
                </div>
                <div class="nft-content">
                  <div class="author-thumb">
                    <a href="author.html" class="veryfied"><img loading="lazy"
                                                                src="assets/images/seller/collector-3.gif" alt="author-img"></a>
                  </div>
                  <div class="author-details">
                    <h5><a href="author.html">Alex joe</a> </h5>
                    <p class="nft-price yellow-color">$23,002.98</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="nft-item style-2">
              <div class="nft-inner">
                <div class="nft-thumb">
                  <img loading="lazy" src="assets/images/nft-item/style-2/06.jpg" alt="nft-img">
                </div>
                <div class="nft-content">
                  <div class="author-thumb">
                    <a href="author.html" class="veryfied"><img loading="lazy"
                                                                src="assets/images/seller/collector-8.png" alt="author-img"></a>
                  </div>
                  <div class="author-details">
                    <h5><a href="author.html">Imao XO9 </a> </h5>
                    <p class="nft-price yellow-color">$23,002.98</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="nft-item style-2">
              <div class="nft-inner">
                <div class="nft-thumb">
                  <img loading="lazy" src="assets/images/nft-item/style-2/01.gif" alt="nft-img">
                </div>
                <div class="nft-content">
                  <div class="author-thumb">
                    <a href="author.html" class="veryfied"><img loading="lazy"
                                                                src="assets/images/seller/collector-4.gif" alt="author-img"></a>
                  </div>
                  <div class="author-details">
                    <h5><a href="author.html">rasselmrh</a> </h5>
                    <p class="nft-price yellow-color">$23,002.98</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="nft-item style-2">
              <div class="nft-inner">
                <div class="nft-thumb">
                  <img loading="lazy" src="assets/images/nft-item/style-2/05.jpg" alt="nft-img">
                </div>
                <div class="nft-content">
                  <div class="author-thumb">
                    <a href="author.html" class="veryfied"><img loading="lazy"
                                                                src="assets/images/seller/collector-6.png" alt="author-img"></a>
                  </div>
                  <div class="author-details">
                    <h5><a href="author.html">5eo Le1 </a> </h5>
                    <p class="nft-price yellow-color">$23,002.98</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="nft-item style-2">
              <div class="nft-inner">
                <div class="nft-thumb">
                  <img loading="lazy" src="assets/images/nft-item/style-2/02.gif" alt="nft-img">
                </div>
                <div class="nft-content">
                  <div class="author-thumb">
                    <a href="author.html" class="veryfied"><img loading="lazy"
                                                                src="assets/images/seller/collector-7.png" alt="author-img"></a>
                  </div>
                  <div class="author-details">
                    <h5><a href="author.html">Gihan Fernindo</a> </h5>
                    <p class="nft-price yellow-color">$23,002.98</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="nft-item style-2">
              <div class="nft-inner">
                <div class="nft-thumb">
                  <img loading="lazy" src="assets/images/nft-item/style-2/07.jpg" alt="nft-img">
                </div>
                <div class="nft-content">
                  <div class="author-thumb">
                    <a href="author.html" class="veryfied"><img loading="lazy"
                                                                src="assets/images/seller/collector-3.gif" alt="author-img"></a>
                  </div>
                  <div class="author-details">
                    <h5><a href="author.html">rocket_3 #s0s</a> </h5>
                    <p class="nft-price yellow-color">$23,002.98</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="nft-item style-2">
              <div class="nft-inner">
                <div class="nft-thumb">
                  <img loading="lazy" src="assets/images/nft-item/style-2/08.jpg" alt="nft-img">
                </div>
                <div class="nft-content">
                  <div class="author-thumb">
                    <a href="author.html" class="veryfied"><img loading="lazy"
                                                                src="assets/images/seller/collector-6.png" alt="author-img"></a>
                  </div>
                  <div class="author-details">
                    <h5><a href="author.html">dfkjeo se1 </a> </h5>
                    <p class="nft-price yellow-color">$23,002.98</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="nft-item style-2">
              <div class="nft-inner">
                <div class="nft-thumb">
                  <img loading="lazy" src="assets/images/nft-item/style-2/09.jpg" alt="nft-img">
                </div>
                <div class="nft-content">
                  <div class="author-thumb">
                    <a href="author.html" class="veryfied"><img loading="lazy"
                                                                src="assets/images/seller/collector-7.png" alt="author-img"></a>
                  </div>
                  <div class="author-details">
                    <h5><a href="author.html">Rnah rnindo</a> </h5>
                    <p class="nft-price">$3,002.98</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="nft-item style-2">
              <div class="nft-inner">
                <div class="nft-thumb">
                  <img loading="lazy" src="assets/images/nft-item/style-2/10.jpg" alt="nft-img">
                </div>
                <div class="nft-content">
                  <div class="author-thumb">
                    <a href="author.html" class="veryfied"><img loading="lazy"
                                                                src="assets/images/seller/collector-9.png" alt="author-img"></a>
                  </div>
                  <div class="author-details">
                    <h5><a href="author.html">rblo dfd# o</a> </h5>
                    <p class="nft-price yellow-color">$33,002.98</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="load-btn mt-5">
          <a href="All-Authors.html" class="default-btn move-bottom">
            <span>Load More</span>
          </a>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- ==========explorar sección final========== -->


<%= render "layouts/footer" %>
