<section class="page-header-section style-1">
  <div class="container">
    <div class="page-header-content">
      <div class="page-header-inner">
        <div class="page-title">
          <h2> NFTs Marketplace</h2>
        </div>
        <ol class="breadcrumb">
          <li><a href="<%=root_path %>">Home</a></li>
          <li class="active">NFTs Marketplace</li>
        </ol>
      </div>
    </div>
  </div>
</section>